* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

.container {
  width: 70%;
  margin: 0 auto;
}

/* Regole header */

header {
  width: 100vw;
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header img {
  margin: 15px;
  max-height: 70px;
}

header ul {
  color: rgb(90, 90, 90);
  font-size: 10px;
  list-style: none;
  display: flex;
  margin: auto 0;
}

header ul li {
  margin: 12px;
}

/* Regole main */
main .content {
  background-color: #1C1C1C;
  color: white;
}

main .jumbotron {
  height: 300px;
  background-image: url("../public/img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

main #comics-list .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2 {
  display: inline-block;
  background-color: #0082F9;
  padding: 5px 20px;
  margin: 30px 0;
  align-self: flex-start;
}

main .card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .load-more {
  display: inline-block;
  background-color: #0082F9;
  padding: 5px 20px;
  margin: 30px;
  vertical-align: center;
}

main .card {
  width: 15%;
  margin-bottom: 20px;
}

main .card img {
  max-height: 200px;
}

main .main-navbar {
  background-color: #0082F9;
}

main .main-navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 40px 0;
  font-size: 12px;
}

main .main-navbar ul li {
  display: flex;
  align-items: center;
}

main .main-navbar ul li img {
  max-height: 45px;
  max-width: 45px;
}

/* Footer */

.footer-menu {
  background-image: url("../public/img/dc-logo-bg.png"), url("../public/img/footer-bg.jpg");
  background-size: auto 140%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: 80% 50%, center;
}

.footer-menu .container {
  display: flex;
  justify-content: flex-start;
  padding: 30px 0;
}

.footer-menu ul {
  list-style: none;
  margin-right: 30px;
  margin-bottom: 10px;
}

.footer-menu ul li:first-child {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 800;
}

.footer-menu ul li {
  font-size: 14px;
  color: grey;
}

.footer-bottom {
  background-color: #303030;
  padding: 20px 0;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .sign-up span {
  color: white;
  padding: 10px;
  border: solid 2px #0082F9;
}

.footer-bottom .follow-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .follow-us * {
  padding: 10px;
}

.footer-bottom .follow-us span {
  color: #0082F9;
  font-size: 20px;
}